<include>
  <param name="sip-trace" value="no"/>

  <!-- If we use localnet.auto then inbound requests from OpenSIPS -->
  <!-- will be treated as local and the ext-sip-ip and ext-rtp-ip will not be used -->
  <param name="local-network-acl" value="loopback.auto"/>

  <param name="sip-ip" value="$${local_ip_v4}"/>
  <param name="rtp-ip" value="$${local_ip_v4}"/>

  <param name="bind-params" value="transport=udp"/>

  <param name="inbound-codec-prefs" value="G722,PCMU,PCMA,GSM"/>
  <param name="outbound-codec-prefs" value="G722,PCMU,PCMA,GSM"/>

  <param name="context" value="default"/>
  <param name="disable-register" value="true"/>
  <param name="rtp-timer-name" value="soft"/>
</include>
