---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/audio_streams
    body:
      encoding: UTF-8
      string: '{"phone_call_id":"6f362591-ab86-4d1a-b39b-40c87e7929fc","url":"wss://mystream.ngrok.io/audiostream"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"3531126f26b3e1d6f9dd189a73f658a5"
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-03-20T12:17:31Z","updated_at":"2024-03-20T12:17:31Z","sid":"cf3bc4d9-a839-4da5-bf9b-f968c6a1939f","url":"wss://mystream.ngrok.io/audiostream"}'
  recorded_at: Wed, 20 Mar 2024 12:17:31 GMT
recorded_with: VCR 6.2.0
