---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/audio_streams
    body:
      encoding: UTF-8
      string: '{"phone_call_id":"6f362591-ab86-4d1a-b39b-40c87e7929fc","url":"wss://mystream.ngrok.io/audiostream","custom_parameters":{"aCustomParameter":"aCustomValue
        that was set in TwiML","bCustomParameter":"bCustomValue that was set in TwiML"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"3ea6f0153c7fe172cc3de0d27322c42b"
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-03-20T17:32:03Z","updated_at":"2024-03-20T17:32:03Z","sid":"393a227f-0602-4024-b38a-dcbbeed4d5a0","url":"wss://mystream.ngrok.io/audiostream"}'
  recorded_at: Wed, 20 Mar 2024 17:32:03 GMT
recorded_with: VCR 6.2.0
