---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/routing_parameters
    body:
      encoding: UTF-8
      string: '{"phone_number":"85516701721","account_sid":"ea471a9f-d4b3-4035-966e-f507b8da6d34"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"6b3b0e604a2f060346e5e9d66ba27359"
    body:
      encoding: UTF-8
      string: '{"destination":"85516701721","dial_string_prefix":null,"plus_prefix":false,"national_dialing":false,"host":"host.docker.internal:5061","username":null,"symmetric_latching":true}'
  recorded_at: Fri, 23 Sep 2022 06:27:36 GMT
[...]
- request:
    method: post
    uri: http://api.lvh.me:3000/services/routing_parameters
    body:
      encoding: UTF-8
      string: '{"phone_number":"85510555777","account_sid":"ea471a9f-d4b3-4035-966e-f507b8da6d34"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"5435b6344a62d55ffb20194df8a94139"
    body:
      encoding: UTF-8
      string: '{"destination":"85510555777","dial_string_prefix":null,"plus_prefix":false,"national_dialing":false,"host":"host.docker.internal:5061","username":null,"symmetric_latching":true}'
  recorded_at: Fri, 23 Sep 2022 06:27:36 GMT
recorded_with: VCR 6.0.0
