---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/outbound_phone_calls
    body:
      encoding: UTF-8
      string: '{"destinations":["85516701721","855715100860","85510555777"],"parent_call_sid":"15f55641-7728-4cab-8e2e-8077c4b3c6b4"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"38f72f1a8b5aded3d225b4950b9c105a"
    body:
      encoding: UTF-8
      string: '{"phone_calls":[{"created_at":"2024-07-09T06:44:47Z","updated_at":"2024-07-09T06:44:47Z","sid":"43d53a33-0965-427e-ba86-6ba79f90a0bf","parent_call_sid":"15f55641-7728-4cab-8e2e-8077c4b3c6b4","account_sid":"96b4557a-341c-46b3-ba3c-a1793e9dae3c","from":"+855715100678","routing_parameters":{"destination":"+85516701721","dial_string_prefix":null,"plus_prefix":false,"national_dialing":false,"host":"host.docker.internal:5061","username":null,"symmetric_latching":true},"address":null},{"created_at":"2024-07-09T06:44:47Z","updated_at":"2024-07-09T06:44:47Z","sid":"b94fbd47-7900-45eb-aff7-e2892b572afc","parent_call_sid":"15f55641-7728-4cab-8e2e-8077c4b3c6b4","account_sid":"96b4557a-341c-46b3-ba3c-a1793e9dae3c","from":"+855715100678","routing_parameters":{"destination":"+855715100860","dial_string_prefix":null,"plus_prefix":false,"national_dialing":true,"host":"host.docker.internal:5061","username":null,"symmetric_latching":false},"address":null},{"created_at":"2024-07-09T06:44:47Z","updated_at":"2024-07-09T06:44:47Z","sid":"64c0f12c-5181-4267-9fa7-2c3bcfa0e10e","parent_call_sid":"15f55641-7728-4cab-8e2e-8077c4b3c6b4","account_sid":"96b4557a-341c-46b3-ba3c-a1793e9dae3c","from":"+855715100678","routing_parameters":{"destination":"+85510555777","dial_string_prefix":null,"plus_prefix":false,"national_dialing":false,"host":"host.docker.internal:5061","username":null,"symmetric_latching":true},"address":null}]}'
  recorded_at: Tue, 09 Jul 2024 06:44:47 GMT
recorded_with: VCR 6.2.0
