---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/outbound_phone_calls
    body:
      encoding: UTF-8
      string: '{"destinations":["sip:alice@sip.example.com"],"parent_call_sid":"15f55641-7728-4cab-8e2e-8077c4b3c6b4"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7078d81644cbb895b788a8a8b92b7f18"
    body:
      encoding: UTF-8
      string: '{"phone_calls":[{"created_at":"2024-07-09T06:48:33Z","updated_at":"2024-07-09T06:48:33Z","sid":"b88d99e8-68b5-4d03-9d50-c8104e095c11","parent_call_sid":"15f55641-7728-4cab-8e2e-8077c4b3c6b4","account_sid":"96b4557a-341c-46b3-ba3c-a1793e9dae3c","from":"+855715100678","routing_parameters":null,"address":"alice@sip.example.com"}]}'
  recorded_at: Tue, 09 Jul 2024 06:48:33 GMT
recorded_with: VCR 6.2.0
