---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/outbound_phone_calls
    body:
      encoding: UTF-8
      string: '{"destinations":["85516701721","855715100860","85510555777"],"parent_call_sid":"15f55641-7728-4cab-8e2e-8077c4b3c6b4","from":"85523238265"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"324c73376115215abece5d60d7a737a0"
    body:
      encoding: UTF-8
      string: '{"phone_calls":[{"created_at":"2024-07-09T06:54:28Z","updated_at":"2024-07-09T06:54:28Z","sid":"c95a70b5-cd82-41f3-b4f7-fcc7177fe1be","parent_call_sid":"15f55641-7728-4cab-8e2e-8077c4b3c6b4","account_sid":"96b4557a-341c-46b3-ba3c-a1793e9dae3c","from":"+85523238265","routing_parameters":{"destination":"+85516701721","dial_string_prefix":null,"plus_prefix":false,"national_dialing":false,"host":"host.docker.internal:5061","username":null,"sip_profile":"nat-gateway"},"address":null},{"created_at":"2024-07-09T06:54:28Z","updated_at":"2024-07-09T06:54:28Z","sid":"56e87b91-a5cc-4fda-a0f4-7db3a259c0d7","parent_call_sid":"15f55641-7728-4cab-8e2e-8077c4b3c6b4","account_sid":"96b4557a-341c-46b3-ba3c-a1793e9dae3c","from":"+85523238265","routing_parameters":{"destination":"+855715100860","dial_string_prefix":null,"plus_prefix":false,"national_dialing":true,"host":"host.docker.internal:5061","username":null,"sip_profile":"test"},"address":null},{"created_at":"2024-07-09T06:54:28Z","updated_at":"2024-07-09T06:54:28Z","sid":"43daf827-46f6-4957-aad4-a09f2723653e","parent_call_sid":"15f55641-7728-4cab-8e2e-8077c4b3c6b4","account_sid":"96b4557a-341c-46b3-ba3c-a1793e9dae3c","from":"+85523238265","routing_parameters":{"destination":"+85510555777","dial_string_prefix":null,"plus_prefix":false,"national_dialing":false,"host":"host.docker.internal:5061","username":null,"sip_profile":"nat-gateway"},"address":null}]}'
  recorded_at: Tue, 09 Jul 2024 06:54:28 GMT
recorded_with: VCR 6.2.0
