---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/outbound_phone_calls
    body:
      encoding: UTF-8
      string: '{"destinations":["85516701721"],"parent_call_sid":"15f55641-7728-4cab-8e2e-8077c4b3c6b4"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"9b5b99a3361bc4c3d59f2dc553e4960a"
    body:
      encoding: UTF-8
      string: '{"phone_calls":[{"created_at":"2024-07-09T06:27:40Z","updated_at":"2024-07-09T06:27:40Z","sid":"c843486f-1d7b-4ec9-960d-7944cc501ee5","parent_call_sid":"15f55641-7728-4cab-8e2e-8077c4b3c6b4","account_sid":"96b4557a-341c-46b3-ba3c-a1793e9dae3c","from":"+855715100678","routing_parameters":{"destination":"+85516701721","dial_string_prefix":null,"plus_prefix":false,"national_dialing":true,"host":"host.docker.internal:5061","username":null,"symmetric_latching":true},"address":null}]}'
  recorded_at: Tue, 09 Jul 2024 06:27:40 GMT
recorded_with: VCR 6.2.0
