---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/outbound_phone_calls
    body:
      encoding: UTF-8
      string: '{"destinations":["85516701721"],"parent_call_sid":"15f55641-7728-4cab-8e2e-8077c4b3c6b4"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4a3000e843b1adffb20577d4a4a55d79"
    body:
      encoding: UTF-8
      string: '{"phone_calls":[{"created_at":"2024-06-26T05:26:04Z","updated_at":"2024-06-26T05:26:04Z","sid":"2dc44a7f-67a2-4a2d-a6f0-93c073973061","parent_call_sid":"15f55641-7728-4cab-8e2e-8077c4b3c6b4","account_sid":"96b4557a-341c-46b3-ba3c-a1793e9dae3c","from":"+855715100678","routing_parameters":{"destination":"+85516701721","dial_string_prefix":null,"plus_prefix":false,"national_dialing":false,"host":"host.docker.internal:5061","username":null,"symmetric_latching":true},"address":null}]}'
  recorded_at: Wed, 26 Jun 2024 05:26:04 GMT
recorded_with: VCR 6.2.0
