---
http_interactions:
- request:
    method: post
    uri: http://services.lvh.me:3000/outbound_phone_calls
    body:
      encoding: UTF-8
      string: '{"destinations":["85516701721","855715100860"],"parent_call_sid":"f371391e-25cc-4ba6-a752-ec745a59cf06"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"b025da7170d33484fa1453a5ed37ce56"
    body:
      encoding: UTF-8
      string: '{"phone_calls":[{"created_at":"2026-02-19T11:06:34Z","updated_at":"2026-02-19T11:06:34Z","sid":"0dc9b62f-b7df-4bc3-ab9f-c1048a854ec7","account_sid":"aed0ac11-ea6e-408a-9ffe-cb6567656fcb","carrier_sid":"c7f8279d-2ad6-4956-abc7-f41c1667d2ef","parent_call_sid":"f371391e-25cc-4ba6-a752-ec745a59cf06","from":"+855715100678","direction":"outbound-dial","call_direction":"outbound","routing_parameters":{"address":null,"destination":"85516701721","dial_string_prefix":null,"plus_prefix":false,"national_dialing":false,"host":"host.docker.internal:5061","username":null,"sip_profile":"nat_gateway"},"billing_parameters":{"enabled":false,"category":"outbound_calls","billing_mode":"prepaid"},"address":null},{"created_at":"2026-02-19T11:06:34Z","updated_at":"2026-02-19T11:06:34Z","sid":"e4727522-8eb5-4305-a8e9-e5b76208b8f4","account_sid":"aed0ac11-ea6e-408a-9ffe-cb6567656fcb","carrier_sid":"c7f8279d-2ad6-4956-abc7-f41c1667d2ef","parent_call_sid":"f371391e-25cc-4ba6-a752-ec745a59cf06","from":"+855715100678","direction":"outbound-dial","call_direction":"outbound","routing_parameters":{"address":null,"destination":"855715100860","dial_string_prefix":null,"plus_prefix":false,"national_dialing":false,"host":"host.docker.internal:5061","username":null,"sip_profile":"nat_gateway"},"billing_parameters":{"enabled":false,"category":"outbound_calls","billing_mode":"prepaid"},"address":null}]}'
  recorded_at: Thu, 19 Feb 2026 11:06:34 GMT
recorded_with: VCR 6.4.0
