---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/outbound_phone_calls
    body:
      encoding: UTF-8
      string: '{"destinations":["85516701721"],"parent_call_sid":"f371391e-25cc-4ba6-a752-ec745a59cf06"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"106f41dd4ceac11104e8b4f0d7b2fe5f"
    body:
      encoding: UTF-8
      string: '{"phone_calls":[{"created_at":"2026-02-19T11:03:59Z","updated_at":"2026-02-19T11:03:59Z","sid":"7aeec2c7-1180-441d-964d-1d05ea0dd2d6","account_sid":"aed0ac11-ea6e-408a-9ffe-cb6567656fcb","carrier_sid":"c7f8279d-2ad6-4956-abc7-f41c1667d2ef","parent_call_sid":"f371391e-25cc-4ba6-a752-ec745a59cf06","from":"+855715100678","direction":"outbound-dial","call_direction":"outbound","routing_parameters":{"address":null,"destination":"85516701721","dial_string_prefix":null,"plus_prefix":false,"national_dialing":false,"host":"host.docker.internal:5061","username":null,"sip_profile":"nat_gateway"},"billing_parameters":{"enabled":false,"category":"outbound_calls","billing_mode":"prepaid"},"address":null}]}'
  recorded_at: Thu, 19 Feb 2026 11:03:59 GMT
recorded_with: VCR 6.4.0
