---
http_interactions:
- request:
    method: get
    uri: https://demo.twilio.com/docs/voice.xml?AccountSid=1b2ce123-cffc-4188-bdb6-d6a76ab10cf1&ApiVersion=2010-04-01&CallSid=9802a301-aed5-41c8-b662-e3d3180a3eb4&CallStatus=ringing&Called=85512456869&Caller=1000&Direction=inbound&From=1000&To=85512456869
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Twilio-Signature:
      - 0+b0ct1SJKoITuPmOFqDiFGTgFI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Wed, 11 Feb 2026 00:49:07 GMT
      Etag:
      - '"698bd203-d1"'
      X-Shenanigans:
      - none
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Response>
            <Say voice="Polly.Joanna-Generative">Thanks for trying our documentation. Enjoy!</Say>
            <Play>http://demo.twilio.com/docs/classic.mp3</Play>
        </Response>
  recorded_at: Mon, 16 Mar 2026 16:55:38 GMT
- request:
    method: post
    uri: http://services.lvh.me:3000/tts_events
    body:
      encoding: UTF-8
      string: '{"phone_call":"9802a301-aed5-41c8-b662-e3d3180a3eb4","tts_voice":"Basic.Kal","num_chars":43}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 16 Mar 2026 16:55:38 GMT
recorded_with: VCR 6.4.0
