---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/inbound_phone_calls
    body:
      encoding: UTF-8
      string: '{"to":"1294","from":"0715100960","external_id":"06c0c60a-47a2-426a-87e9-95ea85d22bf2","source_ip":"27.109.112.141","client_identifier":null,"variables":{"sip_from_host":"192.168.1.1","sip_to_host":"192.168.2.1","sip_network_ip":"10.0.0.1","sip_via_host":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"8aa42d1e00281587f058e37db761f7c9"
    body:
      encoding: UTF-8
      string: '{"created_at":"2023-10-20T05:06:28Z","updated_at":"2023-10-20T05:06:28Z","voice_url":"https://demo.twilio.com/docs/voice.xml","voice_method":"GET","status_callback_url":null,"status_callback_method":null,"twiml":null,"to":"1294","from":"+855715100960","sid":"23233573-25be-486d-9631-c33d6f5eb80c","account_sid":"10304d06-de4a-40b5-9453-2ab15ebf5c52","account_auth_token":"LaCY_bLXWZUp9CpFMvBwQiLUn5Kry20lRxOUeERqFPI","direction":"inbound","api_version":"2010-04-01","default_tts_voice":"Basic.Kal"}'
  recorded_at: Fri, 20 Oct 2023 05:06:28 GMT
- request:
    method: get
    uri: https://demo.twilio.com/docs/voice.xml?AccountSid=10304d06-de4a-40b5-9453-2ab15ebf5c52&ApiVersion=2010-04-01&CallSid=23233573-25be-486d-9631-c33d6f5eb80c&CallStatus=ringing&Called=1294&Caller=%2B855715100960&Direction=inbound&From=%2B855715100960&To=1294
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Twilio-Signature:
      - 1TPqVlvI+EzgGUzcXsHjIF4lAlU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Tue, 13 Jun 2023 19:18:49 GMT
      Etag:
      - '"6488c119-c0"'
      X-Shenanigans:
      - none
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <Response>
            <Say voice="woman">Thanks for trying our documentation. Enjoy!</Say>
            <Play>http://demo.twilio.com/docs/classic.mp3</Play>
        </Response>
  recorded_at: Fri, 20 Oct 2023 05:06:29 GMT
- request:
    method: post
    uri: http://api.lvh.me:3000/services/tts_events
    body:
      encoding: UTF-8
      string: '{"phone_call":"23233573-25be-486d-9631-c33d6f5eb80c","tts_voice":"Basic.Slt","num_chars":43}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 20 Oct 2023 05:06:29 GMT
recorded_with: VCR 6.2.0
