---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/media_streams
    body:
      encoding: UTF-8
      string: '{"phone_call_id":"6f362591-ab86-4d1a-b39b-40c87e7929fc","url":"wss://mystream.ngrok.io/audiostream","custom_parameters":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"266feb0f5c581cde79a7409e44bb3e60"
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-03-26T13:46:06Z","updated_at":"2024-03-26T13:46:06Z","sid":"143fb02b-f0ce-4258-b957-ebdd60a2945d","url":"wss://mystream.ngrok.io/audiostream"}'
  recorded_at: Tue, 26 Mar 2024 13:46:06 GMT
- request:
    method: post
    uri: http://api.lvh.me:3000/services/media_stream_events
    body:
      encoding: UTF-8
      string: '{"media_stream_id":"143fb02b-f0ce-4258-b957-ebdd60a2945d","event":{"type":"connect"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 26 Mar 2024 13:46:06 GMT
[...]
- request:
    method: post
    uri: http://api.lvh.me:3000/services/media_stream_events
    body:
      encoding: UTF-8
      string: '{"media_stream_id":"143fb02b-f0ce-4258-b957-ebdd60a2945d","event":{"type":"disconnect"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 26 Mar 2024 13:46:06 GMT
recorded_with: VCR 6.2.0
