---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/media_streams
    body:
      encoding: UTF-8
      string: '{"phone_call_id":"6f362591-ab86-4d1a-b39b-40c87e7929fc","url":"wss://mystream.ngrok.io/audiostream","custom_parameters":{},"tracks":"inbound"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"302699c3096fb77ddd04182e45831fd4"
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-03-27T10:05:04Z","updated_at":"2024-03-27T10:05:04Z","sid":"0edc29ef-e45f-408a-89f2-3266ce3352b6","url":"wss://mystream.ngrok.io/audiostream"}'
  recorded_at: Wed, 27 Mar 2024 10:05:04 GMT
- request:
    method: post
    uri: http://api.lvh.me:3000/services/media_stream_events
    body:
      encoding: UTF-8
      string: '{"media_stream_id":"0edc29ef-e45f-408a-89f2-3266ce3352b6","event":{"type":"connect"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 27 Mar 2024 10:05:04 GMT
[...]
- request:
    method: post
    uri: http://api.lvh.me:3000/services/media_stream_events
    body:
      encoding: UTF-8
      string: '{"media_stream_id":"0edc29ef-e45f-408a-89f2-3266ce3352b6","event":{"type":"disconnect"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 27 Mar 2024 10:05:04 GMT
recorded_with: VCR 6.2.0
