---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/media_streams
    body:
      encoding: UTF-8
      string: '{"phone_call_id":"6f362591-ab86-4d1a-b39b-40c87e7929fc","url":"wss://mystream.ngrok.io/audiostream","custom_parameters":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"887e97c565ece84a57ac241f2f63be14"
    body:
      encoding: UTF-8
      string: '{"created_at":"2024-03-25T12:49:46Z","updated_at":"2024-03-25T12:49:46Z","sid":"eb1c009e-8015-4b8a-9ded-1ba6e5105c51","url":"wss://mystream.ngrok.io/audiostream"}'
  recorded_at: Mon, 25 Mar 2024 12:49:46 GMT
recorded_with: VCR 6.2.0
