.bundle
.*.swp
.*.swo
.DS_STORE
log/*.log
tmp
vendor/ruby

# SimpleCov
coverage

.idea

# terraform
terraform.tfstate.d/
.terraform
terraform.tfstate
terraform.tfstate.*

master.key
examples.txt

node_modules
nohup.out
