---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/dial_string
    body:
      encoding: UTF-8
      string: '{"phone_number":"85516701721","account_sid":"325ca5f4-5e02-4289-9628-139d62ea0436"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"05dd6bfd92be63e2aadaea5f28bcb507"
    body:
      encoding: UTF-8
      string: '{"dial_string":"85516701721@host.docker.internal:5061","nat_supported":false}'
  recorded_at: Fri, 12 Nov 2021 06:02:48 GMT
recorded_with: VCR 6.0.0
