---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/inbound_phone_calls
    body:
      encoding: UTF-8
      string: '{"to":"1234","from":"1000","external_id":"30393425-1c1d-4c3b-8910-57b54e68133b","source_ip":"192.168.3.1","variables":{"sip_from_host":"192.168.1.1","sip_to_host":"192.168.2.1","sip_network_ip":"192.168.3.1"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9e2400d79dcbc837e5921ad5072bf034"
    body:
      encoding: UTF-8
      string: '{"api_version":"2010-04-01","created_at":"2021-06-23T09:02:30Z","updated_at":"2021-06-23T09:02:30Z","voice_url":"https://demo.twilio.com/docs/voice.xml","voice_method":"GET","status_callback_url":null,"status_callback_method":null,"to":"1234","from":"1000","sid":"574f0314-8d52-4a79-a7aa-2ff9898f7b79","account_sid":"0f82ec1a-c776-4669-a0b6-c2b11bef156a","account_auth_token":"pd-eZBeCozOHqtdcwYOpGcPaZNByMFQjryK73K3Pm14","direction":"inbound","twiml":null}'
  recorded_at: Wed, 23 Jun 2021 09:02:30 GMT
- request:
    method: get
    uri: https://demo.twilio.com/docs/voice.xml?AccountSid=0f82ec1a-c776-4669-a0b6-c2b11bef156a&ApiVersion=2010-04-01&CallSid=574f0314-8d52-4a79-a7aa-2ff9898f7b79&CallStatus=ringing&Called=1234&Caller=1000&Direction=inbound&From=1000&To=1234
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Twilio-Signature:
      - YXDSpMZlefngpbgS+wTLaIZ1Ik4=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Mon, 07 Oct 2019 18:46:57 GMT
      Etag:
      - '"5d9b8821-c0"'
      X-Shenanigans:
      - none
      - none
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <Response>
            <Say voice="alice">Thanks for trying our documentation. Enjoy!</Say>
            <Play>http://demo.twilio.com/docs/classic.mp3</Play>
        </Response>
  recorded_at: Wed, 23 Jun 2021 09:02:32 GMT
recorded_with: VCR 6.0.0
