---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/recordings
    body:
      encoding: UTF-8
      string: '{"phone_call_id":"0e5dca40-1545-4aa1-9120-fac43c09bc90","recording_status_callback_url":null,"recording_status_callback_method":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c42d6b67599aeb3143b191bb99ca2965"
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-03-18T04:27:49Z","updated_at":"2022-03-18T04:27:49Z","api_version":"2010-04-01","sid":"996e260f-a41c-496b-8f30-36766a29bc94","account_sid":"38be17be-1d71-4121-9ad6-d75149413229","status":"in_progress","external_id":null,"duration":null,"url":"http://dashboard.lvh.me:3000/2010-04-01/Accounts/38be17be-1d71-4121-9ad6-d75149413229/Calls/0e5dca40-1545-4aa1-9120-fac43c09bc90/recordings/996e260f-a41c-496b-8f30-36766a29bc94"}'
  recorded_at: Fri, 18 Mar 2022 04:27:49 GMT
- request:
    method: patch
    uri: http://api.lvh.me:3000/services/recordings/996e260f-a41c-496b-8f30-36766a29bc94
    body:
      encoding: UTF-8
      string: '{"raw_recording_url":"http://example.com/recording.wav","duration":5,"external_id":"component-id"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"9497c3b4c4d30ce5f8a1b398e1eb7b7b"
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-03-18T04:27:49Z","updated_at":"2022-03-18T04:27:49Z","api_version":"2010-04-01","sid":"996e260f-a41c-496b-8f30-36766a29bc94","account_sid":"38be17be-1d71-4121-9ad6-d75149413229","status":"in_progress","external_id":"component-id","duration":5,"url":"http://dashboard.lvh.me:3000/2010-04-01/Accounts/38be17be-1d71-4121-9ad6-d75149413229/Calls/0e5dca40-1545-4aa1-9120-fac43c09bc90/recordings/996e260f-a41c-496b-8f30-36766a29bc94"}'
  recorded_at: Fri, 18 Mar 2022 04:27:49 GMT
recorded_with: VCR 6.0.0
