---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/recordings
    body:
      encoding: UTF-8
      string: '{"phone_call_id":"0e5dca40-1545-4aa1-9120-fac43c09bc90","recording_status_callback_url":null,"recording_status_callback_method":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"1867b8b9b038c5d13d584bb7070dc311"
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-03-25T09:53:07Z","updated_at":"2022-03-25T09:53:07Z","sid":"39cbca96-2634-4c0a-a6c5-2e7c611d200e","duration":null,"url":"http://api.lvh.me:3000/2010-04-01/Accounts/38be17be-1d71-4121-9ad6-d75149413229/Calls/0e5dca40-1545-4aa1-9120-fac43c09bc90/Recordings/39cbca96-2634-4c0a-a6c5-2e7c611d200e"}'
  recorded_at: Fri, 25 Mar 2022 09:53:07 GMT
- request:
    method: patch
    uri: http://api.lvh.me:3000/services/recordings/39cbca96-2634-4c0a-a6c5-2e7c611d200e
    body:
      encoding: UTF-8
      string: '{"raw_recording_url":"https://recording.s3.ap-southeast-1.amazonaws.com/9c76f7f6-3aff-4f7b-a76a-0d017b5df900-2.wav","duration":5,"external_id":"component-id"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"5af425082c25396a0a599a7888be6453"
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-03-25T09:53:07Z","updated_at":"2022-03-25T09:53:07Z","sid":"39cbca96-2634-4c0a-a6c5-2e7c611d200e","duration":"5","url":"http://api.lvh.me:3000/2010-04-01/Accounts/38be17be-1d71-4121-9ad6-d75149413229/Calls/0e5dca40-1545-4aa1-9120-fac43c09bc90/Recordings/39cbca96-2634-4c0a-a6c5-2e7c611d200e"}'
  recorded_at: Fri, 25 Mar 2022 09:53:07 GMT
recorded_with: VCR 6.0.0
