---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/routing_parameters
    body:
      encoding: UTF-8
      string: '{"phone_number":"85516701721","account_sid":"4d481e74-5383-497d-88ef-6fa193fcda4c"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"223f73d952806c98385494ff11509dcf"
    body:
      encoding: UTF-8
      string: '{"destination":"85516701721","dial_string_prefix":null,"plus_prefix":false,"trunk_prefix":true,"host":"host.docker.internal:5061","username":null,"symmetric_latching":true}'
  recorded_at: Wed, 21 Sep 2022 11:29:28 GMT
[...]
- request:
    method: post
    uri: http://api.lvh.me:3000/services/routing_parameters
    body:
      encoding: UTF-8
      string: '{"phone_number":"85510555777","account_sid":"4d481e74-5383-497d-88ef-6fa193fcda4c"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"e2e72d15c12391b8744ffe6c9216c5b5"
    body:
      encoding: UTF-8
      string: '{"destination":"85510555777","dial_string_prefix":null,"plus_prefix":false,"trunk_prefix":true,"host":"host.docker.internal:5061","username":null,"symmetric_latching":true}'
  recorded_at: Wed, 21 Sep 2022 11:29:35 GMT
recorded_with: VCR 6.0.0
