---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/services/routing_parameters
    body:
      encoding: UTF-8
      string: '{"phone_number":"85516701721","account_sid":"ea471a9f-d4b3-4035-966e-f507b8da6d34"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VydmljZXM6cGFzc3dvcmQ=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"21103aaeb76a9e3ee988d8273a166fc7"
    body:
      encoding: UTF-8
      string: '{"destination":"85516701721","dial_string_prefix":null,"plus_prefix":false,"national_dialing":true,"host":"host.docker.internal:5061","username":null,"symmetric_latching":false}'
  recorded_at: Fri, 23 Sep 2022 06:26:42 GMT
recorded_with: VCR 6.0.0
