<!--
  Static config goes here. For dynamic content use environment variables. See env.xml for details.
  Do NOT comment out variables in this file as it will have no affect.
-->

<!-- Generic -->
<X-PRE-PROCESS cmd="set" data="log_directory=/var/log/freeswitch"/>

<!-- External SIP Profiles -->
<X-PRE-PROCESS cmd="set" data="ext_profile_nat_gateway_sip_port=5060"/>
<X-PRE-PROCESS cmd="exec-set" data="ext_profile_nat_gateway_ext_rtp_ip=hostname -i"/>

<X-PRE-PROCESS cmd="set" data="ext_profile_nat_instance_sip_port=5080"/>
<X-PRE-PROCESS cmd="exec-set" data="ext_profile_nat_instance_ext_rtp_ip=hostname -i"/>

<!-- mod_json_cdr -->
<X-PRE-PROCESS cmd="set" data="mod_json_cdr_url=https://www.example.com/path"/>
<X-PRE-PROCESS cmd="set" data="mod_json_cdr_password=password"/>

<!-- mod_rayo -->
<X-PRE-PROCESS cmd="set" data="mod_rayo_port=5222"/>
<X-PRE-PROCESS cmd="set" data="mod_rayo_password=secret"/>
<X-PRE-PROCESS cmd="set" data="mod_rayo_max_idle_secs=300"/>

<!-- mod_event_socket -->
<X-PRE-PROCESS cmd="set" data="event_socket_port=8021"/>
<X-PRE-PROCESS cmd="set" data="event_socket_password=secret"/>

<!-- mod_http_cache -->
<X-PRE-PROCESS cmd="set" data="recordings_bucket_access_key_id=xyz"/>
<X-PRE-PROCESS cmd="set" data="recordings_bucket_secret_access_key=secret"/>
<X-PRE-PROCESS cmd="set" data="recordings_bucket_name=recording"/>
<X-PRE-PROCESS cmd="set" data="recordings_bucket_region=ap-southeast-1"/>

<!-- logging -->
<X-PRE-PROCESS cmd="set" data="log_level=info"/>
