on: push
name: Build

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    env:
      AHN_ENV: test
      CI: true

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: true

      - name: Run Specs
        run: |
          bundle exec rspec

      - name: Upload Test Coverage
        working-directory: ${{ env.working-directory }}
        continue-on-error: true
        env:
          CODACY_PROJECT_TOKEN: "${{ secrets.CODACY_PROJECT_TOKEN }}"
        run: |
          curl -Ls -o codacy-coverage-reporter "$(curl -Ls https://api.github.com/repos/codacy/codacy-coverage-reporter/releases/latest | jq -r '.assets | map({name, browser_download_url} | select(.name | contains("codacy-coverage-reporter-linux"))) | .[0].browser_download_url')"
          chmod +x codacy-coverage-reporter
          ./codacy-coverage-reporter report -l Ruby -r coverage/lcov/*

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/improve_cpu_utilization_for_switch'
    env:
      IMAGE_TAG: ${{ github.sha }}
      APP_IDENTIFIER: somleng-switch
      SERVICE_NAME: somleng-switch
      CLUSTER: somleng-switch
      ECR_PUBLIC_REGISTRY: public.ecr.aws
      APP_ECR_REPOSITORY_URI: public.ecr.aws/somleng/somleng-switch
      NGINX_ECR_REPOSITORY_URI: public.ecr.aws/somleng/somleng-switch-nginx
      FREESWITCH_ECR_REPOSITORY_URI: public.ecr.aws/somleng/somleng-switch-freeswitch

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        id: aws-login
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-skip-session-tagging: true
          role-duration-seconds: 3600
          aws-region: ap-southeast-1

      - name: Login to AWS Public ECR
        uses: docker/login-action@v1
        with:
          registry: ${{ env.ECR_PUBLIC_REGISTRY }}
          username: ${{ env.AWS_ACCESS_KEY_ID }}
          password: ${{ env.AWS_SECRET_ACCESS_KEY }}
        env:
          AWS_REGION: us-east-1

      - name: Export Polly Voices
        run: |
          ./docker/freeswitch/bin/export_aws_polly_voices "docker/freeswitch/conf/autoload_configs/polly_voices.xml"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-${{ env.APP_IDENTIFIER }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-${{ env.APP_IDENTIFIER }}-

      - name: Build and push nginx
        uses: docker/build-push-action@v2
        with:
          context: "docker/nginx"
          push: true
          platforms: linux/amd64,linux/arm64
          cache-from: type=local,src=/tmp/.buildx-cache/.buildx-cache-${{ env.APP_IDENTIFIER }}-nginx
          cache-to: type=local,dest=/tmp/.buildx-cache-${{ env.APP_IDENTIFIER }}-nginx
          tags: |
            ${{ env.NGINX_ECR_REPOSITORY_URI }}:latest
            ${{ env.NGINX_ECR_REPOSITORY_URI }}:${{ env.IMAGE_TAG  }}

      - name: Build and push freeswitch
        uses: docker/build-push-action@v2
        with:
          context: "docker/freeswitch"
          push: true
          platforms: linux/amd64
          cache-from: type=local,src=/tmp/.buildx-cache/.buildx-cache-${{ env.APP_IDENTIFIER }}-freeswitch
          cache-to: type=local,dest=/tmp/.buildx-cache-${{ env.APP_IDENTIFIER }}-freeswitch
          tags: |
            ${{ env.FREESWITCH_ECR_REPOSITORY_URI }}:latest
            ${{ env.FREESWITCH_ECR_REPOSITORY_URI }}:${{ env.IMAGE_TAG  }}

      - name: Build and push somleng-switch
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          cache-from: type=local,src=/tmp/.buildx-cache/.buildx-cache-${{ env.APP_IDENTIFIER }}
          cache-to: type=local,dest=/tmp/.buildx-cache-${{ env.APP_IDENTIFIER }}
          tags: |
            ${{ env.APP_ECR_REPOSITORY_URI }}:latest
            ${{ env.APP_ECR_REPOSITORY_URI }}:${{ env.IMAGE_TAG  }}

      - name: Move docker layer caches
        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        run: |
          rm -rf /tmp/.buildx-cache
          mkdir /tmp/.buildx-cache
          mv /tmp/.buildx-cache-${{ env.APP_IDENTIFIER }} /tmp/.buildx-cache
          mv /tmp/.buildx-cache-${{ env.APP_IDENTIFIER }}-nginx /tmp/.buildx-cache
          mv /tmp/.buildx-cache-${{ env.APP_IDENTIFIER }}-freeswitch /tmp/.buildx-cache

      - name: Prepare NGINX task definition
        id: render-nginx-task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: deploy/production/ecs_task_definition.json
          container-name: nginx
          image: ${{ env.NGINX_ECR_REPOSITORY_URI }}:${{ env.IMAGE_TAG }}

      - name: Prepare FreeSWITCH task definition
        id: render-freeswitch-task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: ${{ steps.render-nginx-task-def.outputs.task-definition }}
          container-name: freeswitch
          image: ${{ env.FREESWITCH_ECR_REPOSITORY_URI }}:${{ env.IMAGE_TAG }}

      - name: Prepare AppServer task definition
        id: render-appserver-task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: ${{ steps.render-freeswitch-task-def.outputs.task-definition }}
          container-name: app
          image: ${{ env.APP_ECR_REPOSITORY_URI }}:${{ env.IMAGE_TAG }}

      - name: Deploy App Server
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ${{ steps.render-appserver-task-def.outputs.task-definition }}
          service: ${{ env.SERVICE_NAME }}
          cluster: ${{ env.CLUSTER }}
          wait-for-service-stability: true
